@model GameLibrary.ViewModels.CategoryBookViewModel


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Books &mdash; Offers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">
    <link href="/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/style.css">



</head>

<form asp-controller="Categories" asp-action="Index" method="get">
    <p>
        Category: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-section mt-5">
        <div class="container">
            <table class="table">
                <table class="table">
                    <tbody>
                        <tr>
                            @foreach (Category item in Model.Categories)
                            {
                                <td>
                                    <ul class="links">
                                        <center>
                                            <ul>
                                                <a href="@Url.Action("BookDetails", "Categories", new { id = item.CategoryID})" title="@item.CategoryName" class="links">
                                                    <img class="img-responsive" src="@Url.Content("~/images/" + @item.CategoryImage)" height="350" width="300" alt="">
                                                </a>
                                            </ul>
                                            @Html.DisplayFor(modelItem => item.CategoryName)<br />
                                            @*<a asp-action="Go" asp-controller="Categories">Go</a>*@
                                        </center>
                                    </ul>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </div>

    <!-- .site-wrap -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15" /></svg></div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.mb.YTPlayer.min.js"></script>




    <script src="/js/main.js"></script>

</body>

</html>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/jquery.mb.YTPlayer.min.js"></script>




<script src="/js/main.js"></script>