@model GameLibrary.Models.Book

@{
    ViewData["Title"] = "Details";
}


<title>Books &mdash; Offers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Roboto&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/fonts/icomoon/style.css">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery-ui.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">

<link rel="stylesheet" href="/css/jquery.fancybox.min.css">

<link rel="stylesheet" href="/css/bootstrap-datepicker.css">

<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

<link rel="stylesheet" href="/css/aos.css">
<link href="/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/css/style.css">

<style>
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>



<div class="row">
    <hr />
    <div class="column">

        <dd class="col-sm-10">
            <img class="img-responsive" src="@Url.Content("~/images/" + Model.BookImage)" height="350" width="300" alt="">
        </dd>
    </div>

    <div class="column">
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.BookAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.PublishingYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishingYear)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookPrice)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.BookDescription)
        </dt>
        <dd class="col-sm-10">
            <a  href=@Html.DisplayFor(model => model.BookDescription)>Click here to see specifications document</a>
        </dd>
    </div>
</div>




<div>
    <a asp-action="create" asp-controller="Orders">Buy</a> | 
    <a href="@Url.Action("AddToShoppingCart", "ShoppingCarts", new { id = Model.BookID })" class="links">Add to favourites</a><br />
    <a asp-action="BookList">Back to Books</a><br />
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/jquery.mb.YTPlayer.min.js"></script>




<script src="/js/main.js"></script>