@model IEnumerable<GameLibrary.Models.JobApplication>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Va multumim pentru aplicare! Veti fi contactat in curand.</h1>





@if ((User.IsInRole("admin")) || (User.IsInRole("angajat")))
{

    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ocupatie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobSection)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobSection)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ocupatie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobSection.JobSectionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobSection.JobName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.JobApplicationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.JobApplicationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.JobApplicationId">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}