@model IEnumerable<GameLibrary.Models.Eval>

@{
    ViewData["Title"] = "View Evals";
}
<p>
    <a asp-action="Create">Evalueaza-ne!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EvalSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvalDescription)
            </th>

            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EvalSubject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvalDescription)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.EvalId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EvalId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EvalId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
